@charset "utf-8" ;

.container{
    width: 800px;
    height: 600px;
    border: 1px solid black;
}

.header{
    width: 800px;
    height: 100px;
    background-color: mediumaquamarine;
}

.nav{
    width: 200px;
    height: 400px;
    background-color: bisque;
    float: left;
}

.content{
    width: 600px;
    height: 400px;
    background-color: chocolate;
    float: left;
}
.footer{
    width: 800px;
    height: 100px;
    background-color: blue;
    clear: both;
}
