<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="header">
                <div class="header-left">
                    <img class="lion" src="../img/lion.png">
                </div>
                <div class="header-right">
                    <div class="user-name">라이언</div>

                    <div class="user-status">1시간 전</div>
                </div>

            </div>
            <div class="bottom">
                <h3> 심플한 베이지 색 후드</h3>
                <p>
                    안녕하세요 오늘은 베이지 색 후드티를 판매할까 해요. <br>
                    가격은 42000원이고 심플하게 입기 좋은 옷입니다!!! <br>
                    인터넷에서 구매하는 것도 좋지만 매장에 양질의 옷이 많으니 방문해 주시면 감사하겠습니다~
                </p>
            </div>
        </div>
        <div class="right">
            <img class="hoodie" src="../img/hoodie.jpg">
        </div>
        <hr>
    </div>
    
</body>
</html> 